fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
jinja2==3.1.5
python-dotenv==1.0.1
httpx==0.28.1
aiofiles==24.1.0
python-multipart==0.0.20
# pyodbc==5.2.0  # Descomentar cuando se conecte a DQD (requiere C++ Build Tools en Windows)
